# ============================================================
# FnP - AeroGreenHouse | Template variabili d'ambiente
# ============================================================

# GitHub
GITHUB_TOKEN=
GITHUB_USR=
GITHUB_REPO=
GITHUB_BRANCH=

# Paths
TH_DATA_DIR=
PLOT_OUTPUT_DIR=
IMG_DIR=
